<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>
<div class="icon-section d-flex flex-column">
    <p class="icon-section-title align-self-center"> Web Apps & Services </p>
    <div class="d-flex flex-column">
        <div class="flex-row align-self-center">
            <a href="https://tailwindcss.com/" target="_blank"><img src="/images/tailwind.png" alt="Tailwind" class="icon"/></a>
            <a href="https://getbootstrap.com/" target="_blank"><img src="/images/bootstrap.png" alt="Bootstrap" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center" style="margin-top: 0.25rem;">
            <a href="https://dotnet.microsoft.com/en-us/" target="_blank"><img src="/images/aspnet.png" alt="ASPNET" class="icon-wide"/></a>
            <a href="https://rubyonrails.org/" target="_blank"><img src="/images/rails.png" alt="Rails" class="icon-wide"/></a>
        </div>
        <div class="flex-row align-self-center" style="margin-top: 0.25rem;">
            <a href="https://www.djangoproject.com/" target="_blank"><img src="/images/django.png" alt="Django" class="icon-wide"/></a>
        </div>
    </div>
</div>
