<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="section-clear p-0">
    <div class="section-title-clear d-flex justify-content-center">
        <p class="section-title-clear-label"> My Tech Stack</p>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly mt-5">
        <vc:techlanguages></vc:techlanguages>
        <vc:techtesting></vc:techtesting>
        <vc:techinfrastructure></vc:techinfrastructure>
        <vc:techtracking></vc:techtracking>
        <vc:techweb></vc:techweb>
    </div> 
</div>
