<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="section-clear p-0">
    <div class="section-title-clear d-flex justify-content-center">
        <p class="section-title-clear-label"> My Tech Stack</p>
    </div>
    <div class="d-none d-md-flex flex-wrap justify-content-evenly mt-4">
        <vc:techlanguages />
        <vc:techtesting />
        <vc:techinfrastructure />
        <vc:techtracking />
        <vc:techweb />
    </div> 
    <div class="d-flex d-md-none flex-column mt-4">
        <vc:techlanguages mobile=true />
        <vc:techtesting mobile=true />
        <vc:techinfrastructure mobile=true />
        <vc:techtracking mobile=true />
        <vc:techweb mobile=true />
    </div> 
</div>
