<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="icon-section-mobile d-flex flex-column">
    <p class="icon-section-title align-self-center"> Infrastructure </p>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <a href="https://azure.microsoft.com/en-us/services/devops/" target="_blank"><img src="/images/devops.png" alt="Azure DevOps" class="icon"/></a>
        <a href="https://azure.microsoft.com/en-us/" target="_blank"><img src="/images/azure.png" alt="Azure" class="icon"/></a>
        <a href="https://www.pulumi.com/" target="_blank"><img src="/images/pulumi.png" alt="Pulumi" class="icon"/></a>
        <a href="https://aws.amazon.com/" target="_blank"><img src="/images/aws.png" alt="AWS" class="icon"/></a>
        <a href="https://github.com/" target="_blank"><img src="/images/github.png" alt="Github" class="icon"/></a>
    </div>
</div>
