<head>
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<script>
    var paypalImage = 0

    function previousPaypal() {
        if (paypalImage == 0) {
            document.getElementById("paypal-image-0").style.display = "none";
            document.getElementById("paypal-image-2").style.display = "block";
            paypalImage = 2
        }
        else if (paypalImage == 1) {
            document.getElementById("paypal-image-1").style.display = "none";
            document.getElementById("paypal-image-0").style.display = "block";
            paypalImage = 0
        }
        else {
            document.getElementById("paypal-image-2").style.display = "none";
            document.getElementById("paypal-image-1").style.display = "block";
            paypalImage = 1
        }
    }

    function nextPaypal() {
        if (paypalImage == 0) {
            document.getElementById("paypal-image-0").style.display = "none";
            document.getElementById("paypal-image-1").style.display = "block";
            paypalImage = 1
        }
        else if (paypalImage == 1) {
            document.getElementById("paypal-image-1").style.display = "none";
            document.getElementById("paypal-image-2").style.display = "block";
            paypalImage = 2
        }
        else {
            document.getElementById("paypal-image-2").style.display = "none";
            document.getElementById("paypal-image-0").style.display = "block";
            paypalImage = 0
        }
    }
</script>

<div class="d-flex flex-column project-section">
    <div class="project-image-container">
        <div id="paypal-image-0" class="paypal-image-0 project-image"></div>
        <div id="paypal-image-1" class="paypal-image-1 project-image"></div>
        <div id="paypal-image-2" class="paypal-image-2 project-image"></div>
        <div class="prev-image-button" onclick="previousPaypal()">
            <h1><i class="bi  bi-arrow-left-circle-fill"></i></h1>
        </div>
        <div class="next-image-button" onclick="nextPaypal()">
            <h1><i class="bi  bi-arrow-right-circle-fill"></i></h1>
        </div>
    </div>
    <div class="project-info">
        <div class="d-flex justify-content-between">
            <p class="project-title">Paypal-Static-Site-Generator</p>
            <div class="d-flex">
                <a class="project-link" style="" href="https://bbruns97.github.io/PayPal-Static-Site-Generator/" target="_blank">
                    <h1 class="project-icon me-4"><i class="bi-arrow-90deg-up"></i></h1>
                </a>
                <a class="project-link" style="" href="https://github.com/bbruns97/PayPal-Static-Site-Generator" target="_blank">
                    <h1 class="project-icon me-4"><i class="bi  bi-github"></i></h1>
                </a>
            </div>
        </div>
        <p class="project-desc">A plugin for the static website generator, Gatsby. It outputs an ecommerce website that also pulls elements from a structured file-system.</p>
    </div>
</div>