<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="icon-section d-flex flex-column">
    <p class="icon-section-title align-self-center"> Languages </p>
    <div class="d-flex flex-column">
        <div class="flex-row align-self-center" style="margin-bottom: -1.5rem; z-index: 3;">
            <a href="https://www.python.org" target="_blank"><img src="/images/python.png" alt="Python" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center">
            <a class="me-5" href="https://isocpp.org/" target="_blank"><img src="/images/cplusplus.png" alt="C++" class="icon"/></a>
            <a href="https://www.ruby-lang.org/en/" target="_blank"><img src="/images/ruby.png" alt="Ruby" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center">
            <a class="me-5" href="https://www.postgresql.org/" target="_blank"><img src="/images/postgres.png" alt="PostgreSQL" class="icon"/></a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank"><img src="/images/csharp.png" alt="Csharp" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center" style="margin-top: -1.5rem;  z-index: 3;">
            <a href="https://www.java.com/en/" target="_blank"><img src="/images/java.png" alt="Java" class="icon"/></a>
        </div>
    </div>
</div>
