:root {
    --surface-color: #f8f9fa;
    --surface-secondary-color: #e8e8e8;
    --primary-color: #708f61;
    --secondary-color: #8cad7b;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    position: fixed;
    width: 100%;
}

.intro {
    padding-top: 8rem;
    text-align: start;
    min-width: 75vw;
    max-width: 75vw;
}

.btn {
    background-color: var(--primary-color);
    color: var(--surface-color);
    border: none;
    border-radius: 0.45rem;
    padding-top: 0.50rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--surface-color);
}

.section {
    margin-top: 8rem;
    background-color: white;
    padding: 2rem;
    min-width: 95vw;
    max-width: 95vw;
    text-align: start;
    box-shadow: 1px 1px 5px #e6e7e8, -1px -1px 5px #e6e7e8;
}

p.section-title {
    font-size: 2rem;
}

p.section-body {
    text-align: start;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .section {
        min-width: 70vw;
        max-width: 70vw;
    }
}

/*
    XS
@media (min-width: 0px) { }

    SM
@media (min-width: 576px) { }

    MD
@media (min-width: 768px) { }

    LG
@media (min-width: 992px) { }

    XL
@media (min-width: 1200px) { }

    XXL
@media (min-width: 1400px) { }
*/