.icon, .icon-wide {
    margin: 0.5rem;
    height: 2.5rem;
    transition: all .15s ease-in-out;
}

.icon {
    width: 2.5rem;
}

.icon-wide {
    width: 5rem;
}

.icon:hover, .icon-wide:hover {
    transform: scale(1.2);
}

.icon-section-title-top {
    position: absolute;
    top: -2.5rem;
    font-size: 1.25rem;
}

.icon-section-title-bottom {
    display: none;
    position: absolute;
    bottom: 0.5rem;
    font-size: 1.25rem;
}

.icon-section {
    position: relative;
    height: 15.5rem;
    width: 16rem;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
}

@media (min-width: 472px) {
    .icon-section {
        padding-top: 0rem;
    }

    .icon-section-title-top {
        display: none;
    }

    .icon-section-title-bottom {
        display: inline;
    }
}

@media (min-width: 576px) {
    .icon-section {
        margin-bottom: 3rem;
    }
}