<head>
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<div class="section">
    <p class="section-title mb-4">My Projects</p>
    <div class="d-flex flex-wrap justify-content-evenly">
        <vc:paypalproject></vc:paypalproject>
        <vc:photographyproject></vc:photographyproject>
    </div>
</div>
