<head>
    <link rel="stylesheet" href="~/css/projects.css" asp-append-version="true" />
</head>

<script>
    function changeImage(direction, elementId, classes) {
        let image = document.getElementById(elementId);
        let lastIndex = image.classList.length - 1;
        let currentClass = image.classList[lastIndex];
        let newClass = (direction == 'left') ? getImageClassInList(direction, currentClass, classes) : getImageClassInList(direction, currentClass, classes);
        image.classList.remove(currentClass);
        image.classList.add(newClass);
    }

    function getImageClassInList(direction, currentClass, classes) {
        let size = classes.length;
        let index = classes.indexOf(currentClass);
        if (direction == 'left')
            index = (index - 1 < 0) ? size - 1 : index - 1;
        else
            index = (index + 1 >= size) ? 0 : index + 1;
        return classes[index];
    }
</script>

<div class="section-clear p-0">
    <div class="section-title-clear d-flex justify-content-center">
        <p class="section-title-clear-label mb-5">My Projects</p>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly">
        <vc:project
            title="Paypal-Static-Site-Generator"
            description="A plugin for the static website generator, Gatsby. It outputs an ecommerce website that also pulls elements from a structured file-system."
            tech-stack="react nodejs graphql"
            tech-stack-links="https://reactjs.org/ https://nodejs.org/en/ https://graphql.org/"
            image-file-names="project-paypal-0 project-paypal-1 project-paypal-2"
            github-link="https://github.com/bbruns97/PayPal-Static-Site-Generator"
            link="https://bbruns97.github.io/PayPal-Static-Site-Generator/">
        </vc:project>
        <vc:project
            title="Online Bookstore"
            description="A bookstore project which involved web-scraping an online book retailer to fill a postgres database which holds books and user information."
            tech-stack="php postgres python"
            tech-stack-links="https://www.php.net/ https://www.postgresql.org/ https://www.python.org/"
            image-file-names="project-bookstore-0 project-bookstore-1 project-bookstore-2 project-bookstore-3 project-bookstore-4 project-bookstore-5"
            github-link="https://github.com/bbruns97/CSE412-OnlineBookStore">
        </vc:project>
        <vc:project
            title="Photography Website"
            description="A website to showcase pictures that I take on trips with friends."
            image-file-names="wip"
            image-centered=true>
        </vc:project>
    </div>
</div>
