<div class="section">
    <h3>Projects</h3>
    <h1 class="display-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent. Suspendisse ultrices gravida dictum fusce. Eget dolor morbi non arcu risus quis varius quam quisque. </h1>
</div>
