<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="icon-section d-flex flex-column">
    <p class="icon-section-title-top align-self-center"> Tracking </p>
    <div class="d-flex flex-column">
        <div class="flex-row align-self-center">
            <a style="margin-right: 4rem;" href="https://www.atlassian.com/software/opsgenie" target="_blank"><img src="/images/opsgenie.png" alt="Opsgenie" class="icon"/></a>
            <a href="https://docs.sentry.io/product/alerts/" target="_blank"><img src="/images/sentry.png" alt="Sentry" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center" style="margin-top: 4rem;">
            <a style="margin-right: 4rem;" href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview" target="_blank"><img src="/images/appinsights.png" alt="Application Insights" class="icon"/></a>
            <a href="https://aws.amazon.com/cloudwatch/" target="_blank"><img src="/images/cloudwatch.png" alt="Cloudwatch" class="icon"/></a>
        </div>
    </div>
    <p class="icon-section-title-bottom align-self-center"> Tracking </p>
</div>
