<head>
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>

<div class="section p-0">
    <div class="d-flex flex-column">
        <div class="image-container-top"></div>
        <div class="d-flex justify-content-between">
            <div class="" style="margin-left: 2rem; margin-right: 2rem; margin-top: 1.75rem; margin-bottom: 1.75rem;">
                <p class="section-title">About me</p>
                <p class="section-body">My passion is developing things that will affect the lives of normal people.</p>
                <p class="section-body">
                    I studied computer science at ASU and started my career working on REST services in Python. 
                    Since then, my work has grown to include developing web applications and services under different tech stacks.
                </p>
                <p class="section-body">
                    Early in my career, I adopted the processes: Red-Green-Refactor, test-driven-development, and pair-programming. 
                    I try to pick up new technologies whenever I can and strive to write clean, maintainable, and scalable code.
                </p>
                <div class="d-flex justify-content-end pt-2">
                    <a class="social-link" href="https://www.instagram.com/sonny.huynh/" target="_blank">
                        <h1 class="social-icon me-4"><i class="bi bi-instagram"></i></h1>
                    </a>
                    <a class="social-link" href="https://github.com/shuynh3" target="_blank">
                        <h1 class="social-icon me-4"><i class="bi bi-github"></i></h1>
                    </a>
                    <a class="social-link" href="https://www.linkedin.com/in/sonny-huynh-0/" target="_blank">
                        <h1 class="social-icon me-4"><i class="bi bi-linkedin"></i></h1>
                    </a>
                </div>
            </div>
            <div class="image-container-right"></div>
        </div>
    </div>
</div>
