<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="icon-section d-flex flex-column">
    <p class="icon-section-title-top align-self-center"> Testing </p>
    <div class="d-flex flex-column">
        <div class="flex-row align-self-center">
            <a style="margin-right: 1rem;" href="https://site.mockito.org/" target="_blank"><img src="/images/mockito.png" alt="Mockito" class="icon-wide"/></a>
            <a href="https://docs.pytest.org/en/7.1.x/" target="_blank"><img src="/images/pytest.png" alt="Pytest" class="icon"/></a>
        </div>
        <div class="flex-row align-self-center" style="margin-top: 4rem;">
            <a style="margin-right: 4rem;" href="https://rspec.info/" target="_blank"><img src="/images/rspec.png" alt="rspec" class="icon"/></a>
            <a href="https://github.com/moq/moq4" target="_blank"><img src="/images/moq.png" alt="Moq" class="icon"/></a>
        </div>
    </div>
    <p class="icon-section-title-bottom align-self-center"> Testing </p>
</div>
