<head>
    <link rel="stylesheet" href="~/css/tech.css" asp-append-version="true" />
</head>

<div class="icon-section-mobile d-flex flex-column">
    <p class="icon-section-title align-self-center"> Testing </p>
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <a href="https://rspec.info/" target="_blank"><img src="/images/rspec.png" alt="rspec" class="icon"/></a>
        <a href="https://docs.pytest.org/en/7.1.x/" target="_blank"><img src="/images/pytest.png" alt="Pytest" class="icon"/></a>
        <a href="https://site.mockito.org/" target="_blank"><img src="/images/mockito.png" alt="Mockito" class="icon-wide"/></a>
        <a href="https://github.com/moq/moq4" target="_blank"><img src="/images/moq.png" alt="Moq" class="icon"/></a>
    </div>
</div>
