<head>
    <link rel="stylesheet" href="~/css/intro.css" asp-append-version="true" />
</head>

<div class="intro-container">
    <p class="intro-label">Hi my name is</p>
    <p class="name-label">Sonny Huynh.</p>
    <p class="quip-label">I build things for fun!</p>
    <div>
        <p class="description-label">I am a Phoenix-based full-stack software engineer who enjoys solving unique problems and learning new things.</p>
        <div class="d-flex flex-row">
            <div class="me-2 me-sm-3">
                <form action="/Contact" method="get">
                    <button class="btn">Contact me</button>
                </form>
            </div>
            <div>
                <form action="/Resume" method="get">
                    <button class="btn">What I've done</button>
                </form>
            </div>
        </div>
    </div>
</div>
