@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="d-flex flex-column">
        <div id="Intro" class="align-self-center">
            <vc:intro></vc:intro>
        </div>
        <div id="Work" class="align-self-center">
            <vc:work></vc:work>
        </div>
        <div id="Hobbies" class="align-self-center">
            <vc:hobbies></vc:hobbies>
        </div>
        <div id="Contact" class="align-self-center">
            <vc:contact></vc:contact>
        </div>
    </div>
</div>
