@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <div id="Intro" class="row">
            <vc:intro></vc:intro>
        </div>
        <div id="Skills" class="row">
            <vc:skills></vc:skills>
        </div>
        <div id="Projects" class="row">
            <vc:projects></vc:projects>
        </div>
        <div id="Interests" class="row">
            <vc:interests></vc:interests>
        </div>
        <div id="Hobbies" class="row">
            <vc:hobbies></vc:hobbies>
        </div>
        <div id="Contact" class="row">
            <vc:contact></vc:contact>
        </div>
    </div>
</div>
