@page
@model aspnet_resume_website.Pages.ResumeModel
@{
}

<div class="resume-main-container">
    <div class="mb-5">
        <p class="section-title">Education</p>
        <vc:education
            title="Arizona State University"
            description="Bachelor of Science, Computer Science"
            start-date="2016"
            end-date="2020"
            image="asu">
        </vc:education>
    </div>

    <div>
        <p class="section-title">Experience</p>
        <vc:event
            title="StrongMind"
            description="Software Engineer"
            start-date="2021"
            end-date="Present"
            tech-stack="python csharp ruby"
            tech-stack-links="https://www.python.org/ https://docs.microsoft.com/en-us/dotnet/csharp/ https://www.ruby-lang.org/en/"
            image="strongmind">
        </vc:event>
        <vc:event
            title="PayPal Hosted Capstone Project"
            description="Student Developer"
            start-date="2020"
            end-date="2020"
            tech-stack="react nodejs graphql"
            tech-stack-links="https://reactjs.org/ https://nodejs.org/en/ https://graphql.org/"
            image="paypal">
        </vc:event>
    </div>
</div>